<div>
  <img class="img-responsive" id="image" src="{{flashcard.imgURL}}">
  <form {{action 'submit' on='submit'}}>
    <h4>Aperture:</h4>
      {{ui-slider

        id='aperture'
        ticks='0,1,2,3,4,5,6,7,8,9'
        ticksLabels='1.4, 2.0, 2.8, 4.0, 5.6, 8, 11, 16, 22, 32'
        ticksSnapBounds=15
        tooltip='hide'
        max=9
      }}
    {{#if isSnapped}}
      <div>
        <h4>Actual Aperture:</h4>
          {{ui-slider
            value=flashcard.aperture
            id='aperture-answer'
            ticks='0,1,2,3,4,5,6,7,8,9'
            ticksLabels='1.4, 2.0, 2.8, 4.0, 5.6, 8, 11, 16, 22, 32'
            ticksSnapBounds=15
            tooltip='hide'
            max=9
            mood="success"
            disabled=true
          }}
      </div>
    {{/if}}
    <h4>Shutter Speed: </h4>{{ui-slider
      id='shutter'
      ticks="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16"
      ticksLabels="15 sec, 10, 5, 1, 1/2, 1/4, 1/8, 1/15, 1/30, 1/60, 1/125 ,1/250, 1/500, 1/1000, 1/2000, 1/4000, 1/8000"
      ticksSnapBounds=15
      tooltip='hide'
    }}
    {{#if isSnapped}}
      <div>
        <h4>Acutal Shutter Speed: </h4>{{ui-slider
          id='shutter-answer'
          value=flashcard.shutterSpeed
          ticks="0,1,2,3,4,5,6,7,8,9,10,11,12,13,14, 15, 16"
          ticksLabels="15 sec, 10, 5, 1, 1/2, 1/4, 1/8, 1/15, 1/30, 1/60, 1/125 ,1/250, 1/500, 1/1000, 1/2000, 1/4000, 1/8000"
          ticksSnapBounds=15
          tooltip='hide'
          mood="success"
          disabled=true
        }}
      </div>
    {{/if}}

    {{input type="hidden" id="trueAperture" valueBinding=flashcard.aperture}}
    {{input type="hidden" id="trueShutterSpeed" valueBinding=flashcard.shutterSpeed}}
  <br>{{input type='submit' value='Snap the photo!' class="btn btn-default btn-lg"}}
  {{#if isSnapped}}
    <button class="btn btn-primary btn-lg" {{action 'nextFlashcard'}}>Next Flashcard</button>
  {{/if}}
  </form>
  <br><br>
</div>
{{yield}}
