<div class="row">
  <div class="col-sm-6">
    <h1>{{model.topic}}</h1>
    <p>Use the sliders to adjust the camera settings. Try to match what you think the picture settings were!</p>
  </div>

  <div class="col-sm-6">
    {{score-board score=model.score}}
  </div>
</div>{{!-- row end --}}

<div>
  {{outlet}}
</div>


{{#each model.flashcards as |flashcard|}}
  {{#link-to 'lessons.lesson.flashcard' flashcard}}<img src="{{flashcard.thumbURL}}">{{/link-to}}
{{/each}}

{{!-- <div class="flashcard-container">
  {{flashcard-container takePhotograph=(action 'judge') flashcard=model.flashcards.get.firstObject}}
  {{next-flashcard flashcardNext=(action 'advance') flashcard=model.flashcards}}
</div> --}}
