<div class="row">
  <div class="col-sm-6">
    <h1>{{model.lesson.topic}}</h1>
    <p>Use the sliders to adjust the camera settings. Try to match what you think the picture settings were!</p>
  </div>

  <div class="col-sm-6">
    {{score-board score=model.score}}
  </div>
</div>

<div class="flashcard-container">
  {{flashcard-container takePhotograph=(action 'judge') flashcard=model.flashcards}}
  <button class="btn btn-primary" {{action 'nextFlashcard'}}>Next Flashcard</button>
</div>
{{outlet}}
